{% extends 'monitor/base.html' %}

{% load tz %}

{% block content %}
	{% if object_list %}
    <table class="table table-striped table-bordered ">
        <thead>
    	<tr>
    		<th scope="col">Установка</th>
    		<th scope="col">Дата</th>
    		<th scope="col">Темп Приток</th>
    		<th scope="col">Расход Приток</th>
    		<th scope="col">Темп Вытяжка</th>
    		<th scope="col">Расход Вытяжка</th>
    	</tr>
        </thead>
        <tbody class="">
    	{% for object in object_list %}
    	<tr>
    		<th>{{ object.get_name }}</th>
    		<th>{{ object.get_datetime }}</th>
    		<th>{{ object.temp_intake }}</th>
    		<th>{{ object.vol_intake }}</th>
    		<th>{{ object.temp_exhaust }}</th>
    		<th>{{ object.vol_exhaust }}</th>
    	</tr>
    	{% endfor %}
        </tbody>
    </table>
	{% else %}
		<span>Hello world!</span>
	{% endif %}
{% endblock content %}